/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/js/*
Untitled-1.txt.
CsvController.php
2020_10_30_071347_test_files_table.php
test.csv