/**文字サイズの指定
 *PCを基準に画面幅720px以下で文字サイズが80%になるよう設定
 */

@media screen and (min-width: 721px) {
  html {
      font-size: 100%;
  }
}
@media screen and (max-width: 720px) {
  html {
      font-size: 80%;
  }
}

@media (min-width: 992px){
  //header.blade.php　サイドバーメニューに関して
  //992px以上ではデフォルトでサイドバーメニューが表示されるようにする

  .spinner {
      display: none;//メニューボタンを非表示にする
  }
  input[type="checkbox"]:not(:checked) ~ #sidebarMenu {
    transform: translateX(0);//メニューボタンを非表示にするため、チェックされていない場合にメニューが表示されるよう設定
  }

  //show.blade.php


}
@media (max-width: 992px){
  //show.blade.php　近くのスポットカードのリスト表示に関して
  .lg-nav{
    display: none;//992px以下では非表示にする
  }
}
