@media (min-width: 992px){
  //header.blade.php
  #sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    background-color: #afeeee;
  }
  .spinner {
      display: none;
  }
  input[type="checkbox"]:not(:checked) ~ #sidebarMenu {
    transform: translateX(0);
  }

  //show.blade.php


}
@media (max-width: 992px){
  //show.blade.php
  .lg-nav{
    display: none;
  }
}