//top.blade.php
.jumbotron {
  position: relative;
}
.jumbotron::before {
  content:"";
  display: block;
  padding-top: 20%; //.jumbotronのwidthに対して高さ20%に保つ
}
//新規に追加したアイコンの色の指定
.fa-lightbulb{
  color:#00ffff;
}
.fa-thumbs-up{
  color:#7fff00;
}
.top-message h5{
  text-align:center
}
.top-message p{
  text-align:center
}

//header.blade.php

//ヘッダー部分
.navbar{
    z-index: 50;//ヘッダーのfixed-topクラスによるz-index値を下げてサイドバーのメニューボタンとの表示レイヤー調整をする
}
.navbar li{
  height:100%;
}
//サイドバー部分
#sidebarMenu {
    height: 100%;//高さを固定
    position: fixed;//位置を固定
    left: 0;//左側に寄せる
    width: 200px;//表示幅の設定
    transform: translateX(-200px);//メニューボタンのチェックと連動しサイドバーをX軸方向に表示幅分隠す
    transition: transform 200ms ease-in-out;//サイドバーの出し入れを緩やかにする
    background-color: #afeeee;
    z-index: 49;//ナビゲーションバーよりも下に表示する
}
.sidebarMenuInner{
    margin-top:40px;//ヘッダーのナビゲーションバーの幅分下に表示
}
.sidebarMenuInner li{
    list-style: none;//リストのマーカーを削除
    color: #808080;
    font-weight: bold;
    padding: 10px 20px;//メニューの上下左右のバランスを調整
    cursor: pointer;//カーソルを載せた際ポインター表示になるよう設定
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);//メニューに仕切り線を入れる
}
.sidebarMenuInner li span{
  //ロゴのサブタイトル部分
    display: block;//改行効果の狙い含めブロック要素に変更
    font-size: 14px;
    color: rgba(128, 128, 128, 0.50);
}
.sidebarMenuInner li a{
    color: #808080;
    font-weight: bold;
    text-decoration: none;//リンクの下線を非表示
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);//メニューボタンを推した際にサイドメニューが表示された状態になるよう設定
    //※#sidebarMenu部分でデフォルト状態ではメニューを隠す設定になっているため
}

input[type=checkbox] {
    display: none;//チェックボックス本体を非表示
}
.sidebarIconToggle {
    position: fixed;//表示位置を固定
    margin-top: 8px;
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 51;//ヘッダーよりも上に表示する
    left: 15px;
    width: 22px;
}
.spinner {
    height: 3px;//メニューバーの線の幅指定
    width: 100%;
    background-color: #808080;
}
//メニューボタンの真ん中線
.horizontal {
    float: left;
    margin-top: 3px;
}
//メニューボタンの1番上の線
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
//メニューボタンの一番下の線
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
//チェックボックスがチェックされたら真ん中線が消える
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
//チェックボックスがチェックされたら一番上の線が135deg回転する
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
//チェックボックスがチェックされたら一番上の線が135deg反対側に回転する
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

//content.blade.php
.navigation{
    margin-top:51px;
}
.navigation li{
    display:inline-block;
    width:25%;
    text-align:center;
}
.fa-heart{
    color:#ff1493;
}
.fa-star{
    color:#ffa500;
}
.fa-heart-broken{
    color:#191970;
}
.fa-user-edit{
    color:#00ff7f;
}
.card-img{
  max-width: 300px;
  max-height: 300px;
}
.embed-responsive .card-img {
  object-fit: cover;
}
.card-body{
    text-align:left;
}
.card-title{
    margin-bottom:0;
}
.card-title,.card-subtitle,.card-text{
    padding:10px;
}
p{
    margin:0;
}
.search-bar li{
    border-style:none solid none none;
    border-color:none lightgray none none;
    border-right-width:thin;
}
#eighth>a{
  transition:all .5s ease-in-out;
}
#eighth:hover a{
  text-shadow:
    0 0 10px rgba(255,255,255, 1),
    0 0 13px rgba(255, 255, 255, .8),
    0 0 15px rgba(255, 255, 255, .6),
    0 0 17px rgba(255, 255, 255, .4),
    0 0 19px rgba(255, 255, 255, .5),
    0 0 21px rgba(255, 255, 255, .4),
    0 0 23px rgba(255, 255, 255, .3),
    0 0 25px rgba(255, 255, 255, .2),
    0 0 27px rgba(255, 255, 255, .1);
}

//map.blade.phpとcontent.blade.phpのラジオボタン部分
#eighthGreen{
  border:thin solid lightgray;
  border-bottom:none;
}
#eighthPink{
  border:thin solid lightgray;
  border-bottom:none;
}
#eighthYellow{
  border:thin solid lightgray;
  border-bottom:none;
}
#eighthBlue{
  border:thin solid lightgray;
  border-bottom:none;
}
#eighthGreen>span{
  transition:all .5s ease-in-out;
  border-bottom:none;
}
#eighthGreen:hover span{
  text-shadow:
    0 0 10px rgba(144,238,144, 1),
    0 0 13px rgba(144,238,144, .8),
    0 0 15px rgba(144,238,144, .6),
    0 0 17px rgba(144,238,144, .4),
    0 0 19px rgba(144,238,144, .5),
    0 0 21px rgba(144,238,144, .4),
    0 0 23px rgba(144,238,144, .3),
    0 0 25px rgba(144,238,144, .2),
    0 0 27px rgba(144,238,144, .1);
}
#eighthPink>span{
  transition:all .5s ease-in-out;
}
#eighthPink:hover span{
  text-shadow:
    0 0 10px rgba(255,105,180, 1),
    0 0 13px rgba(255,105,180, .8),
    0 0 15px rgba(255,105,180, .6),
    0 0 17px rgba(255,105,180, .4),
    0 0 19px rgba(255,105,180, .5),
    0 0 21px rgba(255,105,180, .4),
    0 0 23px rgba(255,105,180, .3),
    0 0 25px rgba(255,105,180, .2),
    0 0 27px rgba(255,105,180, .1);
}
#eighthYellow>span{
  transition:all .5s ease-in-out;
}
#eighthYellow:hover span{
  text-shadow:
    0 0 10px rgba(255,215,0, 1),
    0 0 13px rgba(255,215,0, .8),
    0 0 15px rgba(255,215,0, .6),
    0 0 17px rgba(255,215,0, .4),
    0 0 19px rgba(255,215,0, .5),
    0 0 21px rgba(255,215,0, .4),
    0 0 23px rgba(255,215,0, .3),
    0 0 25px rgba(255,215,0, .2),
    0 0 27px rgba(255,215,0, .1);
}
#eighthBlue>span{
  transition:all .5s ease-in-out;
}
#eighthBlue:hover span{
  text-shadow:
    0 0 10px rgba(70,130,180, 1),
    0 0 13px rgba(70,130,180, .8),
    0 0 15px rgba(70,130,180, .6),
    0 0 17px rgba(70,130,180, .4),
    0 0 19px rgba(70,130,180, .5),
    0 0 21px rgba(70,130,180, .4),
    0 0 23px rgba(70,130,180, .3),
    0 0 25px rgba(70,130,180, .2),
    0 0 27px rgba(70,130,180, .1);
}
//新規投稿フォームのボタングループ
.create-btn{
  background: white;
}
.create-btn:hover{
  background-color: rgb(243, 242, 242);
}


//記事詳細画面(show.blade.php)
/* カルーセルのインジケータのカスタマイズ */

.carousel-indicators li{
  background:rgba(180,180,180,0.5);
  height:1px;
  width:20px;
  border-radius: 10px;
}
.carousel-indicators:active{
  background-color: #808080;
}

//スクロールバー
.lg-nav{
  height: 395px;//地図の最大表示時の高さに合わせる
  overflow-y: scroll;//y軸方向ににスクロールバーを表示
}
.md-nav{
  height: 162px;//カードの縦サイズに合わせる
  overflow-x: scroll;//x軸方向にスクロールバーを表示
  white-space: nowrap;//折り返し・改行を無くす
  display: inline-block;//カードが横に並ぶようにする
}
.md-nav li{
  display: inline-block;//カードが横に並ぶようにする
}