@charset "UTF-8";

/**文字サイズの指定
 *PCを基準に画面幅720px以下で文字サイズが80%になるよう設定
 */

@media screen and (min-width: 721px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 992px) {
  .spinner {
    display: none;
  }

  input[type=checkbox]:not(:checked) ~ #sidebarMenu {
    transform: translateX(0);
  }
}

@media (max-width: 992px) {
  .lg-nav {
    display: none;
  }
}

@media (min-width: 576px) {
  .carousel-item {
    height: 160px;
    width: 160px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .content-img {
    height: 160px;
    width: 160px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (min-width: 768px) {
  .carousel-item {
    height: 220px;
    width: 220px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .content-img {
    height: 220px;
    width: 220px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (min-width: 992px) {
  .carousel-item {
    height: 225px;
    width: 225px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .content-img {
    height: 225px;
    width: 225px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (min-width: 1200px) {
  .carousel-item {
    height: 270px;
    width: 270px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .content-img {
    height: 270px;
    width: 270px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

