@media (min-width: 992px) {
  .spinner {
    display: none;
  }

  input[type=checkbox]:not(:checked) ~ #sidebarMenu {
    transform: translateX(0);
  }
}

@media (max-width: 992px) {
  .lg-nav {
    display: none;
  }
}

