@charset "UTF-8";

.thumb-lg-img {
  width: 5vw;
  height: 5vw;
}

.thumb-img {
  width: 15vw;
  height: 15vw;
}

.card-img {
  max-height: 270px;
  max-width: 270px;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.preview {
  width: 15vw;
  height: 15vw;
}

.jumbotron {
  position: relative;
}

.jumbotron::before {
  content: "";
  display: block;
  padding-top: 20%;
}

.fa-lightbulb {
  color: #00ffff;
}

.fa-thumbs-up {
  color: #7fff00;
}

.top-message h5 {
  text-align: center;
}

.top-message p {
  text-align: center;
}

.navbar {
  z-index: 50;
}

.navbar li {
  height: 100%;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 200px;
  transform: translateX(-200px);
  transition: transform 200ms ease-in-out;
  background-color: #afeeee;
  z-index: 49;
}

.sidebarMenuInner {
  margin-top: 40px;
}

.sidebarMenuInner li {
  list-style: none;
  color: #808080;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(128, 128, 128, 0.5);
}

.sidebarMenuInner li a {
  color: #808080;
  font-weight: bold;
  text-decoration: none;
}

input[type=checkbox]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  display: none;
}

.sidebarIconToggle {
  position: fixed;
  margin-top: 8px;
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 51;
  left: 15px;
  width: 22px;
}

.spinner {
  height: 3px;
  width: 100%;
  background-color: #808080;
}

.horizontal {
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.navigation {
  margin-top: 51px;
}

.navigation li {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.fa-heart {
  color: #ff1493;
}

.fa-star {
  color: #ffa500;
}

.fa-heart-broken {
  color: #191970;
}

.fa-user-edit {
  color: #00ff7f;
}

.embed-responsive .card-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  text-align: left;
}

.card-title {
  margin-bottom: 0;
}

.card-title,
.card-subtitle,
.card-text {
  padding: 10px;
}

p {
  margin: 0;
}

.search-bar li {
  border-style: none solid none none;
  border-color: none lightgray none none;
  border-right-width: thin;
}

#eighth > a {
  transition: all 0.5s ease-in-out;
}

#eighth:hover a {
  text-shadow: 0 0 10px white, 0 0 13px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.6), 0 0 17px rgba(255, 255, 255, 0.4), 0 0 19px rgba(255, 255, 255, 0.5), 0 0 21px rgba(255, 255, 255, 0.4), 0 0 23px rgba(255, 255, 255, 0.3), 0 0 25px rgba(255, 255, 255, 0.2), 0 0 27px rgba(255, 255, 255, 0.1);
}

#eighthGreen {
  border: thin solid lightgray;
  border-bottom: none;
}

#eighthPink {
  border: thin solid lightgray;
  border-bottom: none;
}

#eighthYellow {
  border: thin solid lightgray;
  border-bottom: none;
}

#eighthBlue {
  border: thin solid lightgray;
  border-bottom: none;
}

#eighthGreen > span {
  transition: all 0.5s ease-in-out;
  border-bottom: none;
}

#eighthGreen:hover span {
  text-shadow: 0 0 10px lightgreen, 0 0 13px rgba(144, 238, 144, 0.8), 0 0 15px rgba(144, 238, 144, 0.6), 0 0 17px rgba(144, 238, 144, 0.4), 0 0 19px rgba(144, 238, 144, 0.5), 0 0 21px rgba(144, 238, 144, 0.4), 0 0 23px rgba(144, 238, 144, 0.3), 0 0 25px rgba(144, 238, 144, 0.2), 0 0 27px rgba(144, 238, 144, 0.1);
}

#eighthPink > span {
  transition: all 0.5s ease-in-out;
}

#eighthPink:hover span {
  text-shadow: 0 0 10px hotpink, 0 0 13px rgba(255, 105, 180, 0.8), 0 0 15px rgba(255, 105, 180, 0.6), 0 0 17px rgba(255, 105, 180, 0.4), 0 0 19px rgba(255, 105, 180, 0.5), 0 0 21px rgba(255, 105, 180, 0.4), 0 0 23px rgba(255, 105, 180, 0.3), 0 0 25px rgba(255, 105, 180, 0.2), 0 0 27px rgba(255, 105, 180, 0.1);
}

#eighthYellow > span {
  transition: all 0.5s ease-in-out;
}

#eighthYellow:hover span {
  text-shadow: 0 0 10px gold, 0 0 13px rgba(255, 215, 0, 0.8), 0 0 15px rgba(255, 215, 0, 0.6), 0 0 17px rgba(255, 215, 0, 0.4), 0 0 19px rgba(255, 215, 0, 0.5), 0 0 21px rgba(255, 215, 0, 0.4), 0 0 23px rgba(255, 215, 0, 0.3), 0 0 25px rgba(255, 215, 0, 0.2), 0 0 27px rgba(255, 215, 0, 0.1);
}

#eighthBlue > span {
  transition: all 0.5s ease-in-out;
}

#eighthBlue:hover span {
  text-shadow: 0 0 10px steelblue, 0 0 13px rgba(70, 130, 180, 0.8), 0 0 15px rgba(70, 130, 180, 0.6), 0 0 17px rgba(70, 130, 180, 0.4), 0 0 19px rgba(70, 130, 180, 0.5), 0 0 21px rgba(70, 130, 180, 0.4), 0 0 23px rgba(70, 130, 180, 0.3), 0 0 25px rgba(70, 130, 180, 0.2), 0 0 27px rgba(70, 130, 180, 0.1);
}

.create-btn {
  background: white;
}

.create-btn:hover {
  background-color: #f3f2f2;
}

.attention-star {
  color: orange;
}

/* カルーセルのインジケータのカスタマイズ */

.carousel-indicators li {
  background: rgba(180, 180, 180, 0.5);
  height: 1px;
  width: 20px;
  border-radius: 10px;
}

.carousel-indicators:active {
  background-color: #808080;
}

.lg-nav {
  height: 395px;
  overflow-y: scroll;
}

.md-nav {
  max-height: 162px;
  overflow-x: scroll;
  white-space: nowrap;
  display: inline-block;
}

.md-item {
  display: inline-block;
  width: 100%;
  max-width: 313px;
}

.md-item p {
  font-size: 10px;
  white-space: pre-line;
  overflow: hidden;
}

